body {
  background-color: #7C2969;
}

h1, h2, h3 {
  color: #fff;
  font-weight: bold;
  font-family: monospace;
}

h2 {
  color: 	#9eaeed;
  font-size: 40px;
}

h1 {
  color: #ED9EAE;
  font-size: 70px;
  text-align: center;
}

h3 {
  text-align: center;
}

p, li {
  color: #000;
  font-size: 20px;
  font-family: monospace;
}

.edu {
  background-color: #9eeddd;
  padding-left: 8%;
  padding-top: 2%;
  padding-bottom: 1%;
  margin-top: 2%;
}

.sidebar {
  float: right;
  background-color: #ED9EAE;
  padding: 4%;
  margin-right: 3%;
  width: 25%;
  text-align: center;
}
